body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a,
.hero-text {
  color: #e5e7eb;
  font-size: 18px;
}

button,
.sign-up {
  background-color: #3882f6;
}

button,
.footer-text,
.hero-image-placeholder,
.sign-up-text,
.sign-up-title {
  color: white;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.footer,
.header,
.hero {
  background-color: #1f2937;
}

.header-logo,
.hero-title {
  color: #f9faf8;
}

.hero-title,
.information-title {
  font-weight: 800;
}

.information-title,
.quote-text {
  font-size: 36px;
  color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-links {
  display: flex;
  gap: 16px;
}

.header-logo {
  font-size: 24px;
}

.hero-image-placeholder {
  background-color: gray;
}

.hero-title {
  font-size: 48px;
}

.quote {
  background-color: #e5e7eb;
}

.quote-attribution {
  font-weight: 700;
}

.quote-text {
  font-weight: 300;
  font-style: italic;
}
